.git
.vs
.vscode
.idea
**/bin
**/obj
**/Debug
**/Release
**/target
**/node_modules
**/.scala-build
**/.metals
**/.shards
**/lib
**/zig-cache
**/.zig-cache
**/zig-out
**/*.bmp
**/*.png
**/*.exe
**/*.dll
**/*.pdb
**/*.obj
**/*.o
**/*.hi
**/*.lib
**/*.exp
